.site-info {
  background-color: #2A373C;
  text-align: center;
}
img.logo-footer {
  width: 10rem;
  display: flex;
  margin: 0 auto;
}
.social-md {
  align-items: center;
  ul {
    margin: 0 auto;
    padding: 0;
    font-size: 1.8rem;
    height: 3.5rem;
  }
}
.icon-media {
  a {
    color: white;
    text-align: center;
    margin-right: .8rem;
  }
}