.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 10%;
}
h2 {
  padding-bottom: 1.5rem;
  margin: 0 auto;
  text-align: center;
  color: #A6B49B;
}
p {
  padding: 0 1rem 1rem;
  margin: 0 auto;
  color: white;
  text-align: center;
  line-height: 1;
} 
  h3 {
    color: #2a373c;
    text-align: center;
    text-transform: uppercase;
  }

  // FANCY LINES

  .fancy {
    line-height: 0.5;
    text-align: center;
  }
  .fancy span {
    display: inline-block;
    position: relative;  
  }
  .fancy span:before,
  .fancy span:after {
    content: "";
    position: absolute;
    height: 5px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    top: 0;
    width: 55px;
  }
  .fancy span:before {
    right: 100%;
    margin-right: 15px;
  }
  .fancy span:after {
    left: 100%;
    margin-left: 15px;
  }