.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 10%;
}
h2 {
  text-align: center;
  color: #A6B49B;
}
p {
  padding: 0 1rem 1rem;
  margin: 0 auto;
  color: white;
  text-align: center;
} 
  h3 {
    text-align: center;
    text-transform: uppercase;
  }
