// body {
//   display: flex;
//   justify-content: center;
//   min-height: 100vh;
// }
// // .site {
// //   flex: 1 0 auto;
// // }
// // .site-content {
// //   /*padding-top: 50px;*/
// //   margin-left: auto;
// //   margin-right: auto;
// // }
.container {
  max-width: 100%;
  margin: 0 auto;
  padding-bottom: 2rem;
  @include desktop {
    padding: 0 10%;
  }
}
.container-tent {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 10%;
  @include tablet {
    padding: 0;
  }
  @include desktop {
    padding: 0 10%;
  }
}
h2 {
  font-family:'Novecento';
  font-weight: 600;
  font-style: normal;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 0 auto;
  text-align: center;
  color: #A6B49B;
  padding-top: 2rem;
  padding-bottom: 2rem;
  max-width: 80%;
  @include tablet {
    font-size: 2.4rem;
  }
  @include window {
    font-size: 2rem;
  }
}
p {
  font-size: 15px;
  max-width: 80%;
  font-family: 'Novecento sans';
  font-weight: 300; 
  font-style: normal;
  margin: 0 auto;
  color: white;
  text-align: center;
  line-height: 1;
  @include tablet {
    font-size: 1.5rem;
    line-height: 1.1;
  }
  @include window {
    font-size: 1.2rem;
  }
  @include desktop {
    font-size: 1.2rem;
  }
} 
  h3 {
    font-family: 'Merriweather';
    font-weight: bold;
    font-style: normal;
    color: #2a373c;
    text-align: center;
    text-transform: uppercase;
    @include tablet {
      font-size: 1.5rem;
    }
  }


  span.wpcf7-not-valid-tip {
    display: none;
    padding-right: 4px;
  }

  // .wpcf7-form p{
  //   display: flex;
  //   max-width: none;
  //   .wpcf7-email {
  //     width: 225px;
  //     color: #de4d61; 
  //     @include desktop {
  //       width: 331px;
  //     }
  //   }
  // }
  // // .wpcf7-submit {
  // //   border-radius: 30px;
  // //   transform: translateX(-100%);
  // //   input[type="submit"] {
  // //     border: none;
  // //     background: #A6B49B;
  // //     color: white;
  // //   }
  // // }
  // .wpcf7-form-control-wrap {
  //   width: 100%;
  // }
  // input.wpcf7-submit {
  //   padding-left: 4px;
  //   border: none;
  //   background: #A6B49B;
  //   color: white;
  //   text-transform: uppercase;
  // }
  
  // FANCY LINES

  // .fancy {
  //   line-height: 0.5;
  //   text-align: center;
  // }
  // .fancy span {
  //   display: inline-block;
  //   position: relative;  
  // }
  // .fancy span:before,
  // .fancy span:after {
  //   content: "";
  //   position: absolute;
  //   height: 5px;
  //   border-bottom: 1px solid black;
  //   border-top: 1px solid black;
  //   top: 0;
  //   width: 55px;
  //   @include tablet {
  //     width: 100px;
  //   }
  // }
  // .fancy span:before {
  //   right: 100%;
  //   margin-right: 15px;
  // }
  // .fancy span:after {
  //   left: 100%;
  //   margin-left: 15px;
  // }