.hero-banner {
  background-image: url('images/ocImages/camping.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
}

//Zypher tent section//
// .thumbnail-tent1 {
//   background-image: url('images/ocImages/IMG_6986.JPG');
//   height: 13rem;
//   width: 17rem;
// }
// .thumbnail-tent2 {
//   background-image: url('images/ocImages/IMG_6986.JPG');
//   height: 13rem;
//   width: 17rem;
// }
// .thumbnail-tent3 {
//   background-image: url('images/ocImages/IMG_6986.JPG');
//   height: 13rem;
//   width: 17rem;
// }
// .thumbnail {
//   display: flex;
//   justify-content: space-around;
//     .tent-1 {
//       background-image: url('images/ocImages/IMG_6986.JPG');
//     }
//     .tent-2 {
//       background-image: url('images/ocImages/IMG_6986.JPG');
//     }
//     .tent-3 {
//       background-image: url('images/ocImages/IMG_6986.JPG');
//     }
  
// }
